- content_for :html_head do
  = javascript_include_tag "jquery.jcarousel.min.js"
  = stylesheet_link_tag "jcarousel_media.css"


#local-header-container
  #local-header.cf
    .light-bulb
      %a{ :href => '/learning', :style => "background-image: url(/learning/images/lightbulb_#{@media.project.color}.png);" }
    .video-title
      %div
        %a{ :href => "#{item_path(@media.project)}", :class => "title-color-#{@media.project.color}"} 
          = @media.project.name
      .back_to_central
        %a{ :href => '/learning' } Back to Learning Central


    .video-carousel.cf
      %ul#media_carousel.jcarousel-skin-tango 
        - @media.project.media.each do |m|
          %li{ :class => m.hashed_id == @media.hashed_id ? "current_#{@media.project.color}" : "" }
            %a{ :href => item_path(m) }
              %div.thumbnail{ :class => "thumbnail_color_#{@media.project.color}" }
                %img{ :src => m.thumbnail, "data-media-id" => m.hashed_id }
        - extra_placeholders = [ 4 - @media.project.media.count, 0 ].max
        - extra_placeholders.times do
          %li
            %img{ :src => "/learning/images/empty_thumbnail_#{@media.project.color}.png" }

- video_height = (960 * @media.aspect_ratio).to_i
#video-container{ :style => "height: #{video_height}px;" }
  #video.cf{ :style => "height: #{video_height}px;" }
    .previous{ :style => "margin-top: #{(video_height / 2) - 22}px;" }
      %a{ :href => (@media.previous_video ? item_path(@media.previous_video) : '#') }
        %img{ :src => '/learning/images/previous.png' }
    %iframe{ :src => "http://fast.wistia.com/embed/iframe/#{@media.hashed_id}?videoWidth=960&videoHeight=#{video_height + 26}&playerColor=#{@media.project.hex_color}&plugin[socialbar-v1][buttons]=email-twitter-facebook&plugin[requireEmail-v1]=%7B%22topText%22%3A%22Stay%20up%20to%20date!%22%2C%22bottomText%22%3A%22Enter%20your%20email%20to%20stay%20up%20to%20date%20as%5Cnwe%20add%20more%20content%20to%20the%20Learning%20Center.%22%2C%22time%22%3A%22end%22%2C%22allowRewatch%22%3Atrue%2C%22style%22%3A%7B%22backgroundColor%22%3A%22%23303030%22%7D%7D", :width => 960, :height => video_height + 26, :frameborder => 0, :class => 'wistia_embed', :name => 'wistia_embed', :allowtransparency => true, :scrolling => 'no' }
    .next{ :style => "margin-top: #{(video_height / 2) - 22}px;" }
      %a{ :href => (@media.next_video ? item_path(@media.next_video) : '#') }
        %img{ :src => '/learning/images/next.png' }


#video-info-container
  #video-info.cf
    #info
      .title= @media.name
      .description= @media.long_description.html_safe


    #disqus_thread
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'wistialearning'; // required: replace example with your forum shortname
      var disqus_identifier = '#{@media.hashed_id}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

:javascript
  var project = #{@media.project.to_json(include: :media)};
  var project_color = "#{@media.project.color}";

= javascript_include_tag "hover_descriptions"

:javascript
  $(document).ready(function() {

    $("#media_carousel").jcarousel({
      visible: 4,
      start: #{@media.index_in_project + 1}
    });

    $('.thumbnail').on('hover', function() {
      appendToDescription(getMediaDescription(project, $(this).find('img')[0].dataset["mediaId"]));
      positionDescription($(this).find('img'));
      $('.hover_description').toggleClass('visible');
    });
  });
