- content_for :html_head do
  = javascript_include_tag "jquery.jcarousel.min.js"
  = stylesheet_link_tag "jcarousel_media.css"


#local-header-container
  #local-header.cf
    .light-bulb
      %a{ :href => "#{project_path(@media.project)}", :style => "background-image: url(/images/lightbulb_#{@media.project.color}.png);" }
    .video-title
      %h1= @media.name


    .video-carousel.cf
      %ul#media_carousel.jcarousel-skin-tango 
        - @media.project.media.each do |m|
          %li
            %a{ :href => media_path(m) }
              %img{ :src => m.thumbnail }
        - extra_placeholders = [ 4 - @media.project.media.count, 0 ].max
        - extra_placeholders.times do
          %li
            %img{ :src => "/images/empty_thumbnail_#{@media.project.color}.png" }


:javascript
  $(document).ready(function () {
    $("#media_carousel").jcarousel({
      visible: 4,
      start: #{@media.index_in_project + 1}
    });
  });


- video_height = (960 * @media.aspect_ratio).to_i
#video-container{ :style => "height: #{video_height}px; overflow-y: visible;" }
  #video{ :style => "height: #{video_height}px; overflow-y: visible;" }
    %iframe{ :src => "http://fast.wistia.com/embed/iframe/#{@media.hashed_id}?playerColor=#{@media.project.hex_color}&plugin[socialbar-v1][buttons]=email-twitter-facebook", :width => 960, :height => video_height + 26, :style => "border: 0;" }


#video-info-container
  #video-info.cf
    #info
      .title= @media.name
      .description= @media.long_description.html_safe


    #disqus_thread
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'wistialearning'; // required: replace example with your forum shortname
      var disqus_identifier = '#{@media.hashed_id}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 
