!!!
%html
  %head
    %title= @title || 'Your Title Here!'
    = stylesheet_link_tag @stylesheet, :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "jquery-1.8.3.min.js"
    = yield :html_head

  %body
    = render :partial => 'layouts/header'
    = yield
    = render :partial => 'layouts/footer'
    %img{ :src => '/learning/images/lil_lightbulb.png', :style => 'display: none;' }

    = clicky_tracking_code
