#local-header
  %img{ :src => 'images/logo.png' }

#intro-video-container
  #intro-video
    %img{ :src => 'images/placeholder.png' }

#main-container
  #main
    #project-list
      - project_colors = ["green", "sea_foam", "blue", "purple"]
      - project_index = 0
      - @projects.each do |p|
        - project_color = project_colors[project_index % 4]
        - project_index += 1
        %div{ :class => ["project", "cf"], :id => "project_#{p.id}"}
          %div{ :class => ["header", project_color, "cf"] }
            .title
              %a{ :href => project_path(p) }= p.name
            .info
              = "#{p.media.count} videos / #{p.total_media_duration} minutes"
          .videos.cf
            %ul.cf
              :javascript
                var project_#{p.id}_medias = #{p.media.to_json};
                for(var i = 0; i < 7; i++) {
                  var media = project_#{p.id}_medias[i];
                  if (media) {
                    // Add project thumbnail
                    var content = "<li><img src='" + media["thumbnail"] + "' /></li>";
                    $("#project_#{p.id} .videos ul").append(content);
                  } else {
                    // Add default thumbnail
                    var content = "<li><img src='images/empty_thumbnail_#{project_color}.png' /></li>";
                    $("#project_#{p.id} .videos ul").append(content);
                  }
                }
