- content_for :html_head do
  = javascript_include_tag "jquery.jcarousel.min.js"
  = stylesheet_link_tag "jcarousel_account.css"

#local-header
  %h1
    %img{ :src => '/learning/images/logo.png', :alt => "Learning Center", :title => "Learning Center" }
  %h2 Videos about video to help you market with video.


#intro-video-container
  #intro-video
    <div id="wistia_076gd32fij" class="wistia_embed" style="width:960px;height:450px;" data-video-width="960" data-video-height="450">&nbsp;</div>
<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
:javascript
  wistiaEmbed = Wistia.embed("076gd32fij", {
    version: "v1", 
    videoWidth: 960, 
    videoHeight: 450, 
    playButton: true, 
    controlsVisibleOnLoad: false, 
    playerColor: "54bbff", 
    plugin: {
      'requireEmail-v1': {
        "topText":"Stay up to date!",
        "bottomText":"Enter your email to stay up to date as\nwe add more content to the Learning Center.",
        "time":"end",
        "allowRewatch":true,
        "style":{
          "backgroundColor":"#303030"
        }
      }
    }
  });

#main-container
  #main
    #project-list
      - @projects.each do |p|
        %div{ :class => ["project", "cf"], :id => "project_#{p.id}"}
          %a{ :href => item_path(p) }
            %div{ :class => ["header", p.color, "cf"] }
              .title
                = p.name
              .info
                = "#{p.media.count} videos / #{p.total_media_duration} minutes"

          .videos.cf
            %ul.media_carousel.jcarousel-skin-tango
              - p.media.each do |m|
                %li
                  %a{ :href => item_path(m) }
                    %div.thumbnail{ :class => "thumbnail_color_#{p.color}" }
                      %img{ :src => m.thumbnail, "data-media-id" => m.hashed_id }
              - extra_placeholders = [ 7 - p.media.count, 0 ].max
              - extra_placeholders.times do
                %li
                  %img{ :src => "/learning/images/empty_thumbnail_#{p.color}.png" }


#ankle
  #container
    .section
      .title Share this!
      .socializing
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/Share" data-url="http://wistia.com/learning" data-counter="top"></script>

        <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&href=http%3A%2F%2Fwistia.com%2Flearning" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:70px;" allowTransparency="true"></iframe>
        
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://wistia.com/learning" data-text="Become a video marketing jedi with the Wistia Learning Center" data-via="wistia" data-count="vertical">Tweet</a>
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    .divider
    
    .section
      %a{ :href => "http://50grove.wistia.com"}
        .title
          50 Grove
          .arrow
        %p 50 Grove is a catalog of amazing<br /> video producers that are trusted<br /> by Wistia.

    .divider

    .section
      %a{ :href => "http://wistia.com/blog"}
        .title
          Blog
          .arrow
        %p Find more videos, experiments,<br /> and learning on our blog.

:javascript
  $(function () {
    $("#ankle .section .title").hover(function () {
      $(".arrow", this).css("background-position", "0 -14px");
      $(this).css('color', '#5a5a5a');
    }, function () {
      $(".arrow", this).css("background-position", "");
      $(this).css('color', '#6a6a6a');
    });
  });

:javascript
  var projects = #{@projects.to_json(include: :media)};

= javascript_include_tag "hover_descriptions"

:javascript
  $(document).ready(function () {

    $(".media_carousel").jcarousel({
      visible: 7
    });

    $('.thumbnail').on('hover', function() {
      appendToDescription(getMediaDescription(projects, $(this).find('img')[0].dataset["mediaId"]));
      $('.hover_description').toggleClass('visible');
      positionDescription($(this).find('img'));
    });
  });
