- content_for :html_head do
  = javascript_include_tag "jquery.jcarousel.min.js"
  = stylesheet_link_tag "jcarousel_account.css"


#local-header
  %img{ :src => 'images/logo.png' }


#intro-video-container
  #intro-video
    %img{ :src => 'images/frontpage-thumbnail.jpg' }


#main-container
  #main
    #project-list
      - @projects.each do |p|
        %div{ :class => ["project", "cf"], :id => "project_#{p.id}"}
          %div{ :class => ["header", p.color, "cf"] }
            .title
              %a{ :href => project_path(p) }= p.name
            .info
              = "#{p.media.count} videos / #{p.total_media_duration} minutes"
          .videos.cf
            %ul.media_carousel.jcarousel-skin-tango
              - p.media.each do |m|
                %li
                  %a{ :href => media_path(m) }
                    %img{ :src => m.thumbnail }
              - extra_placeholders = [ 7 - p.media.count, 0 ].max
              - extra_placeholders.times do
                %li
                  %img{ :src => "images/empty_thumbnail_#{p.color}.png" }


:javascript
  $(document).ready(function () {
    $(".media_carousel").jcarousel({
      visible: 7
    });
  });
