#local-header
  %img{ :src => 'images/logo.png' }

#intro-video-container
  #intro-video
    %img{ :src => 'images/placeholder.png' }

#main-container
  #main
    #project-list
      - @projects.each do |p|
        %div{ :class => ["project", "cf"], :id => "project_#{p.id}"}
          %div{ :class => ["header", p.color, "cf"] }
            .title
              %a{ :href => project_path(p) }= p.name
            .info
              = "#{p.media.count} videos / #{p.total_media_duration} minutes"
          .videos.cf
            %ul.cf
              :javascript
                var project_#{p.id}_medias = #{p.media.to_json};
                for(var i = 0; i < 7; i++) {
                  var media = project_#{p.id}_medias[i];
                  if (media) {
                    // Add media thumbnail
                    var content = '<li><a href="/medias/' + media["id"] + '"><img src="' + media['thumbnail'] + '" /></a></li>';
                    $('#project_#{p.id} .videos ul').append(content);
                  } else {
                    // Add default thumbnail
                    var content = '<li><img src="images/empty_thumbnail_#{p.color}.png" /></li>';
                    $('#project_#{p.id} .videos ul').append(content);
                  }
                }
